_Store
config.php
admin/include/config.php
admin/language/lang*
apiGateway/include/config.php
apiGateway/json/*
member/include/config.php
member/src/assets/language/lang*
superAdmin/include/config.php
superAdmin/language/lang*
backend/*
member/json/*
member/language/*
member/include/test.php

member/node_modules/
member/dist/
member/npm-debug.log*
member/yarn-debug.log*
member/yarn-error.log*
member/test/unit/coverage/
member/src/assets/language/lang*
member/src/assets/config.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
